<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="#">
    <title>Matches</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% bootstrap_javascript %}
    <script>
        function handleSubmit(event) {
            event.preventDefault(); 
            const button = event.submitter || event.target;
            const action = button.value;
            data = ""
            if (action == 'add'){
                data = button.closest('form').querySelector('textarea').value;
            }else if (action =='remove'){
                const checkedBoxes = document.querySelectorAll('.messageCheckbox:checked')
                data = Array.from(checkedBoxes).map(checkbox => checkbox.value);
            }else if (action == 'update'){
                data = document.getElementById('matchTable')
            }
        fetch('{% url 'match' %}', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken':'{{csrf_token}}'
            },
            body: JSON.stringify({action: action,data:data})
          })
          .then(response => response.json())
          .then(data => {
              console.log('Response from server:', data);
              if (data.status == 'success') {
                  location.reload(); 
              } else {
                  console.error('Server returned an error:', data.Error);
              }
          })
          .catch(error => {
              console.error('Error:', error);
        });
    }
    </script>
</head>
<body>
    <div class="sidebar">
        <a href={% url 'table' %}>Match Table</a>
        <a class="active" href={% url 'match' %}>Match List</a>
        <a href={% url 'search' %}>Search Team</a>
        <a href={% url 'logs' %}>Logs</a>
      </div>
      <div class='caption' align="center">Match List</div>
      <table class='table' align="center", id='matchTable'>
        <thead>
        <tr>
            <th>Team A</th>
            <th>Team B</th>
            <th>Team A Goals</th>
            <th>Team B Goals</th>
            <th>Result</th>
            <th>X<th>
        </tr>
    </thead>
    {% for index in match %}
        <tbody>
            <td >{{ index.team1.name }}</td>
            <td >{{ index.team2.name }}</td>
            <td >{{ index.score1 }}</td>
            <td >{{ index.score2 }}</td>
            {% if index.winner != None%}
            <td>{{index.winner.name}}</td>
            {% else %}
            <td>Draw</td>
            {% endif %}
            <td>
            <input type="checkbox" class="messageCheckbox" value={{index.id}}/>
            </td>
        </tbody>
    {% endfor %}
    </table>
    <div align=center>
        <button class='button' onclick="handleSubmit(event)" value='update'>Update Matches</button>
        <button class = 'button' onclick = "handleSubmit(event)" value='remove'>Remove Selected</button> 
    </div>
    <div class="form-container">
        <form onsubmit="handleSubmit(event)">
            {% csrf_token %}
            <label for="text">Add Matches</label>
            <div class="grow-wrap">
                <textarea name="text" id="matches" onInput="this.parentNode.dataset.replicatedValue = this.value" placeholder="<team1><team2><score1><score2>"></textarea>
            </div>
            <button class='button'value='add'
            type="submit">Add Matches
        </button>
        <button  class='middleButton' style="height:30px" value='clear'
        type="submit" onclick="handleSubmit(event)">Clear All
    </button>
        </form>
        
        </form>

    </div>
    </body>
    </html>