<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="#">
    <title>Search</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% bootstrap_javascript %}
    <script>
        function handleSubmit(event) {
            event.preventDefault(); 
            team = document.getElementById('name').value
            console.log('Username:',team);
            location.reload();
        }
    </script>
</head>
<body>
    <div class="sidebar">
        <a href={% url 'table' %}>Match Table</a>
        <a href={% url 'match' %}>Match List</a>
        <a class="active" href={% url 'search' %}>Search Team</a>
        <a href={% url 'logs' %}>Logs</a>
      </div>
      <h1 align="center">
        Search Teams
      </h1>
    
      <form onsubmit="handleSubmit(event)">
        {% csrf_token %}
        <label for="text">Add Matches</label>
        <div >
            <input type='text' id='name'>
        </div>
        <button class='button'
        type="submit">Search
    </button>
    </form>
    </input>
    </body>
    </html>